:root{
    --color-white: #ffffff;
    --color-dark: #000000;
    --color-primary: #6366F1;
    --color-bg:rgb(192,192,192);
    --color-bg-secondary: #341539;
    --border-rad: .5rem;
    
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body{
    background-color: #1b1a1aed;
}



.container{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding:2rem;
    background-color: var(--color-bg);
    @media (width > 768px){
        width:720px
    }
    @media (width > 1400px){
        width: 1320px;
    }


}

.fel{
    display:none;
}
.fel-open{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    overflow: hidden;
    border-radius: var(--border-rad)
}
.rätt{
    display:none;
}
.rätt-open{
    display:flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    overflow: hidden;
    border-radius: var(--border-rad)
}
.number-submit{
    padding: 2rem;
    background-color: var(--color-primary);
    border:none;
    border-radius:0 .5rem .5rem 0;
    font-size:32px;
    color:var(--color-white)

}
.btn-reset{
    margin:2rem auto;
    display:flex;
    padding: 2rem 4rem;
    background-color: transparent;
    border: none;
    box-shadow: 1px 1px 4px 2px #10101040;
    border-radius: var(--border-rad);    
    color:var(--color-white)

}
.btn-reset:hover{
    background-color: var(--color-primary);
}
.number-input{
    padding:2rem;
    border-radius: .5rem 0 0 .5rem;
    border:none;
    font-size:32px;
    
}

.form-container{
    padding:2rem;
    background-color:var(--color-bg-secondary) ;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: .5rem;
}




